{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Username</th>
					<th>Birthday</th>
					<th>Random Number</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
				<tr>
					<td>{{ object.user.username }}</td>
					<td>{{ object.birth_date }}</td>
					<td>{{ object.random_number }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		<a href="{% url 'users:create' %}" class="btn btn-default">Create</a>
	</div>
</div>
{% endblock %}
