{% extends 'base.html' %}
{% load custom_tag %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Username</th>
					<th>Birthday</th>
					<th>Eligible</th>
					<th>Random Number</th>
					<th>BizzFuzz</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
				<tr>
					<td><a href="{% url 'users:detail' pk=object.pk %}">{{ object.user.username }}</a></td>
					<td>{{ object.birth_date }}</td>
					<td>{% get_eligible object %}</td>
					<td>{{ object.random_number }}</td>
					<td>{% get_bizzfuzz object %}</td>
					<td>
						<a href="{% url 'users:update' pk=object.pk %}" class="btn-xs btn-success">Edit</a>
						<a href="{% url 'users:delete' pk=object.pk %}" class="btn-xs btn-danger">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		<a href="{% url 'users:create' %}" class="btn btn-default">Create</a>
		<a href="{% url 'users:export_xls' %}" class="btn btn-success">Export XLS</a>
	</div>
</div>
{% endblock %}
